.advanced_moves {
    margin-top: 30vh;
    
    .move {
        width: 60%;
        background: black;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        color: white;
        padding: 10px;
        border-radius: 10px;
        transition: all 0.5s ease;
        
        // Take up 90vw of with on smaller screen size
        @media (max-width: 1276px) {
            width: 90vw;
        }
        
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px;
            font-family: 'Fasthand', cursive;
            font-size: 20px;
            transition: all 0.3s ease;
            
            .move_icon {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all 0.3s ease;
                
                &:hover {
                    background: white;
                    color: black;
                }
            }
        }
        
        .content {
            display: none;
        }
        
        
        /* Move active */
        &.active {
            .title {
                background: rgb(37, 37, 37);
                border-radius: 10px;
                padding: 20px;
            }
            
            
            .content {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
                
                img {
                    height: 200px;
                    margin: 20px;
                }
                
                // Image should be on the top on smaller screens
                @media (max-width: 1276px) {
                    flex-direction: column;
                }
            }
        }
    }
}