.checkmate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    margin-top: 20vh;
    overflow: hidden;
    padding: 40px;
}