@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.main {
  display: flex;
  flex-direction: column;
  margin-top: 20vh; }
  .main .description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .main .description .title {
      text-align: center;
      width: 200px;
      color: #000;
      border-bottom: 2px solid black;
      font-family: 'Fasthand', cursive;
      font-size: 30px;
      margin-top: 20px; }
    .main .description p {
      font-family: 'Ubuntu', sans-serif;
      padding: 40px;
      margin: 20px;
      color: white; }
      .main .description p img {
        margin: 0 20px 20px 0; }
        footer {
          position: fixed;
          bottom: 10px;
          background-color: #0E2431;
          color: hsl(0, 0%, 100%);
          height: 40px;
          width: 100%;
        }

        .footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .footer__label {
          font-weight: 400;
          font-size: 40px;
          font-family: 'Pacifico', cursive;

        }

        .footer__rights {
          margin-right: 30px;
        }